body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.calendar {
  width: 800px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header button {
  height: 20px;
  position: relative;
  top: 2em;
  border: none;
  background: none;
}
.table {
  width: 100%;
  padding: 30px;
  border-collapse: collapse;
  background-color: #fff;
}

.table tbody {
  position: relative;
  left: 1.7em;
}
.table thead {
  background-color: #7ac769;
}
.table th {
  padding: 20px;
}
.table td {
  padding: 20px;
}
.highlighted-day {
  background-color: #f0f0f0;
}
