body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}
.calendar {
  width: 400px;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.header button {
  height: 20px;
  position: relative;
  top: 2em;
  border: none;
  background: none;
}
.table {
  width: 100%;
  background-color: grey;
  color: white;
  padding: 30px;
}

.table tbody {
  position: relative;
  left: 1em;
}
